.header {
    background-color: #2c3e50;
    color: #ecf0f1;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-buttons,
.courses {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav-buttons li {
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 20px;
    position: relative;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s ease;
}

.nav-buttons li:hover {
    background-color: #2980b9;
}

.courses li {
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 20px;
    position: relative;
    border-radius: 5px;
    background-color: #1c7ae5;
    color: #fff;
    transition: background-color 0.3s ease;
}

.courses li:hover {
    background-color: #3498db;
}

.courses li.active {
    background-color: #2980b9;
}

.semester-list {
    padding: 10px;
    width: 200px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #ecf0f1;
}

.semester-list h3 {
    margin-top: 0;
    color: #2c3e50;
}

.semester-list ul {
    list-style-type: none;
    padding: 0;
}

.semester-list li {
    cursor: pointer;
    padding: 8px 12px;
    color: #2c3e50;
}

@media (max-width: 1024px) {
    .nav-buttons li,
    .courses li {
        margin: 0 5px;
        padding: 10px 15px;
    }

    .semester-list {
        width: 150px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-buttons,
    .courses {
        list-style-type: none;
        padding: 0;
        display: flex;
        margin-top: -5px;
    }

    .semester-list {
        width: 130px;
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .nav-buttons li,
    .courses li {
        margin: 0 3px;
        padding: 8px 12px;
        font-size: 12px;
    }

    .semester-list {
        width: 120px;
        font-size: 10px;
    }
}
